ExampleRepoClient/Service References/httpsRepo/AccountService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DecisionsFramework.ServiceLayer.Services.Folder" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DecisionsFramework.ServiceLayer.Services.Folder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="DisplayType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Silverlight" />
      <xs:enumeration value="Html" />
      <xs:enumeration value="HtmlWithSilverlight" />
      <xs:enumeration value="HtmlMobile" />
      <xs:enumeration value="HtmlTablet" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DisplayType" nillable="true" type="tns:DisplayType" />
  <xs:complexType name="ArrayOfEntityIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityIdentifier" nillable="true" type="tns:EntityIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityIdentifier" nillable="true" type="tns:ArrayOfEntityIdentifier" />
  <xs:complexType name="EntityIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityIdentifier" nillable="true" type="tns:EntityIdentifier" />
</xs:schema>