ExampleRepoClient/Service References/RepositoryServer/DesignerRepositoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Decisions.DesignerRepository" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Decisions.DesignerRepository" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tirade.workflow.com/decisions/Primary/API/DesignerRepositoryService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DecisionsFramework.Data.DataTypes" />
  <xs:complexType name="ArrayOfModuleInfoFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleInfoFile" nillable="true" type="tns:ModuleInfoFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleInfoFile" nillable="true" type="tns:ArrayOfModuleInfoFile" />
  <xs:complexType name="ModuleInfoFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasPreview" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedByMachine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedOnRevisionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleInfoFile" nillable="true" type="tns:ModuleInfoFile" />
  <xs:complexType name="ModuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfModuleInfoFile" />
      <xs:element minOccurs="0" name="LastRevisionBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastRevisionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastRevisionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:RepositoryState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleInfo" nillable="true" type="tns:ModuleInfo" />
  <xs:simpleType name="RepositoryState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Release" />
      <xs:enumeration value="HotFix" />
      <xs:enumeration value="Development" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RepositoryState" nillable="true" type="tns:RepositoryState" />
  <xs:complexType name="ArrayOfFileCheckinInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileCheckinInfo" nillable="true" type="tns:FileCheckinInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileCheckinInfo" nillable="true" type="tns:ArrayOfFileCheckinInfo" />
  <xs:complexType name="FileCheckinInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModuleInfoFile">
        <xs:sequence>
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileCheckinInfo" nillable="true" type="tns:FileCheckinInfo" />
  <xs:complexType name="SessionClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatformVersionNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionClientInfo" nillable="true" type="tns:SessionClientInfo" />
  <xs:complexType name="ServerFileData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/DecisionsFramework.Data.DataTypes" base="q1:FileData">
        <xs:sequence>
          <xs:element minOccurs="0" name="ServerFileTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServerFileData" nillable="true" type="tns:ServerFileData" />
  <xs:complexType name="ArrayOfModuleCheckinInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleCheckinInfo" nillable="true" type="tns:ModuleCheckinInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleCheckinInfo" nillable="true" type="tns:ArrayOfModuleCheckinInfo" />
  <xs:complexType name="ModuleCheckinInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckinId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTag" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resources" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RevisionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:RepositoryState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleCheckinInfo" nillable="true" type="tns:ModuleCheckinInfo" />
  <xs:complexType name="ArrayOfResourceCheckinInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceCheckinInfo" nillable="true" type="tns:ResourceCheckinInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceCheckinInfo" nillable="true" type="tns:ArrayOfResourceCheckinInfo" />
  <xs:complexType name="ResourceCheckinInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModuleInfoFile">
        <xs:sequence>
          <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUpdated" type="xs:boolean" />
          <xs:element minOccurs="0" name="RevisionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortTypeName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResourceCheckinInfo" nillable="true" type="tns:ResourceCheckinInfo" />
  <xs:complexType name="ArrayOfModuleReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleReference" nillable="true" type="tns:ModuleReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleReference" nillable="true" type="tns:ArrayOfModuleReference" />
  <xs:complexType name="ModuleReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleUpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleReference" nillable="true" type="tns:ModuleReference" />
  <xs:complexType name="ArrayOfRepositoryReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RepositoryReference" nillable="true" type="tns:RepositoryReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRepositoryReference" nillable="true" type="tns:ArrayOfRepositoryReference" />
  <xs:complexType name="RepositoryReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RevisionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepositoryReference" nillable="true" type="tns:RepositoryReference" />
  <xs:complexType name="ArrayOfServerModuleInfoFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerModuleInfoFile" nillable="true" type="tns:ServerModuleInfoFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerModuleInfoFile" nillable="true" type="tns:ArrayOfServerModuleInfoFile" />
  <xs:complexType name="ServerModuleInfoFile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModuleInfoFile">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResourceType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServerFileTime" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServerModuleInfoFile" nillable="true" type="tns:ServerModuleInfoFile" />
</xs:schema>